[submodule "robotics/balancing_robot"]
	path = robotics/balancing_robot
	url = https://github.com/jozeecp/balancing_robot
[submodule "robotics/src/balancing_robot"]
	path = robotics/src/balancing_robot
	url = git@github.com:jozeecp/balancing_robot.git
[submodule "robotics/libs/SerialUI"]
	path = robotics/libs/SerialUI
	url = git@github.com:jozeecp/SerialUI.git
