[submodule "robotics/balancing_robot"]
	path = robotics/balancing_robot
	url = https://github.com/jozeecp/balancing_robot
[submodule "robotics/src/balancing_robot"]
	path = robotics/src/balancing_robot
	url = git@github.com:jozeecp/balancing_robot.git
[submodule "robotics/libs/SerialUI"]
	path = robotics/libs/SerialUI
	url = git@github.com:jozeecp/SerialUI.git
[submodule "robotics/libs/motor_drivers"]
	path = robotics/libs/motor_drivers
	url = git@github.com:jozeecp/motor_drivers.git
[submodule "robotics/libs/signal_utils"]
	path = robotics/libs/signal_utils
	url = git@github.com:jozeecp/signal_utils.git
